---
http_interactions:
- request:
    method: get
    uri: https://api.magicthegathering.io/v1/sets/arn
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"7d5fc2fe192c24e506acda8b2afdc9bb"
      Ratelimit-Limit:
      - '1000'
      Ratelimit-Remaining:
      - '999'
    body:
      encoding: ASCII-8BIT
      string: '{"set":{"code":"ARN","name":"Arabian Nights","type":"expansion","booster":["uncommon","uncommon","common","common","common","common","common","common"],"releaseDate":"1993-12-17","onlineOnly":false}}'
  recorded_at: Thu, 21 Sep 2023 22:29:27 GMT
recorded_with: VCR 6.2.0
