---
http_interactions:
- request:
    method: get
    uri: https://api.magicthegathering.io/v1/cards/600
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5b3ed9d534296e596cbed9555ab0027d"
      Ratelimit-Limit:
      - '1000'
      Ratelimit-Remaining:
      - '999'
    body:
      encoding: ASCII-8BIT
      string: '{"card":{"name":"Black Lotus","manaCost":"{0}","cmc":0.0,"type":"Artifact","types":["Artifact"],"rarity":"Rare","set":"2ED","setName":"Unlimited
        Edition","text":"{T}, Sacrifice Black Lotus: Add three mana of any one color.","artist":"Christopher
        Rush","number":"233","layout":"normal","multiverseid":"600","imageUrl":"http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=600&type=card","printings":["2ED","30A","CED","CEI","LEA","LEB","O90P","OVNT","PRM","VMA","YDMU"],"originalText":"Adds
        3 mana of any single color of your choice to your mana pool, then is discarded.
        Tapping this artifact can be played as an interrupt.","originalType":"Mono
        Artifact","legalities":[{"format":"Commander","legality":"Banned"},{"format":"Duel","legality":"Banned"},{"format":"Legacy","legality":"Banned"},{"format":"Oathbreaker","legality":"Banned"},{"format":"Oldschool","legality":"Restricted"},{"format":"Predh","legality":"Banned"},{"format":"Vintage","legality":"Restricted"}],"id":"e6c9fe58-bc4f-529d-a387-77d61af87de4"}}'
  recorded_at: Thu, 21 Sep 2023 22:29:08 GMT
recorded_with: VCR 6.2.0
