---
http_interactions:
- request:
    method: get
    uri: https://api.magicthegathering.io/v1/cards?pageSize=1&random=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Link:
      - <https://api.magicthegathering.io/v1/cards?page=81967&pageSize=1&random=true>;
        rel="last", <https://api.magicthegathering.io/v1/cards?page=2&pageSize=1&random=true>;
        rel="next"
      Page-Size:
      - '1'
      Count:
      - '1'
      Total-Count:
      - '81967'
      Etag:
      - W/"11f733c131c7c37b4f84e88d6b7ccc24"
      Ratelimit-Limit:
      - '1000'
      Ratelimit-Remaining:
      - '999'
    body:
      encoding: ASCII-8BIT
      string: '{"cards":[{"name":"Imperial Seal","manaCost":"{B}","cmc":1.0,"colors":["B"],"colorIdentity":["B"],"type":"Sorcery","types":["Sorcery"],"rarity":"Rare","set":"ME2","setName":"Masters
        Edition II","text":"Search your library for a card, then shuffle and put that
        card on top. You lose 2 life.","flavor":"\"If Heaven has placed it in your
        hands, it means that the throne is destined to be yours.\"","artist":"Li Tie","number":"96","layout":"normal","multiverseid":"184717","imageUrl":"http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=184717&type=card","printings":["2X2","J16","ME2","PRM","PTK"],"originalText":"Search
        your library for a card, then shuffle your library and put that card on top
        of it. You lose 2 life.","originalType":"Sorcery","legalities":[{"format":"Commander","legality":"Legal"},{"format":"Duel","legality":"Banned"},{"format":"Legacy","legality":"Banned"},{"format":"Oathbreaker","legality":"Legal"},{"format":"Predh","legality":"Legal"},{"format":"Vintage","legality":"Restricted"}],"id":"2594ab10-2977-5c08-92f0-d57d61a1d318"}]}'
  recorded_at: Thu, 21 Sep 2023 22:29:41 GMT
recorded_with: VCR 6.2.0
